@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

header {
  background-color: white;
  font-family: 'Roboto';
}

.navbar-nav {
  margin-left: 120px;
}

.nav-item > .nav-link {
  color: #CBB279;
}

#d-flex {
  margin-right: 100px;
  margin-top: 15px;
  width: 300px;
}
