* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.navbar-nav {
  margin-left: 120px;
}

.d-flex {
  margin-left: 160px;
}
