@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* DESKTOP-VIEW */
header {
  background-color: white;
  font-family: 'Roboto';
}

#logo {
  margin-bottom: 5px;
}

#navbar {
  background-color: white;
}

/* .navbar-nav {
  margin-left: 150px;
} */

.nav-item > .nav-link {
  color: #CBB279;
  padding: 10px;
  letter-spacing: 1px;
}

.dropdown-item {
  color: #CBB279;
}

button {
  background-color: #537188;
  color: white;
  border-radius: 20px;
}

.btn {
  color: white;
}

footer {
  background-color: white;
  font-family: 'Roboto';
  color: white
}

.list-font {
  font-weight: lighter;
  color: white;
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}
